<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


<header>
    <h1>게시판 리스트</h1>

    <ul>
        <li><a href="/board/write">글쓰기</a></li>
    </ul>
</header>




<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>링크</th>
        <th>옵션</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="board : ${boards}">
        <td th:text="${board.bo_id}">1</td>
        <td th:text="${board.bo_title}">Title</td>
        <td th:text="${board.bo_content}">Content</td>
        <td><a th:href="@{/board/{id}(id=${board.bo_id})}">link</a></td>
        <td>
            <div>
                <a th:href="@{/board/delete(id=${board.bo_id})}">delete</a>
            </div>


        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
